<div class="row mt-n4" >
  <form [formGroup]="formPesquisaCaixa" class="form-horizontal w-100">
			
    <div class="form-group row">
       <div class="col">
          <label  >Mês:</label>
          <p-dropdown class="w-100" [options]="meses"
                      formControlName="mes" [style]="{'width':'100%'}">
          </p-dropdown>
       </div>
       <div class="col">
         <label >Ano:</label>
         <input pInputText	class="form-control" type="number" id="ano" name="ano" formControlName="ano" >
       </div>
    </div>
    <div class="form-group last text-center " >
      <div class="col">
          <button pButton  (click)="limpar()"
                  icon="pi pi-trash" class="ui-button-secondary" 
                  label="Limpar"> 
           </button>
          
          <button  pButton type="button"	(click)="pesquisar()"
                  icon="pi pi-search-plus" class="ui-button-primary" 
                  label="Pesquisar">
          </button>
      </div>
    </div>
    </form>
</div>
<div class="row w-100" *ngIf="!apenasMembresia">
    <div class="col">
      <div class="text-right" >
        <button  pButton type="button"	(click)="novoCaixa()"
                  icon="pi pi-plus-circle" class="ui-button-secondary" 
                  label="Novo Caixa">
            </button>
      </div>
    </div>
</div>
<div class="row">
  <div class="col" *ngIf="caixasTO.length == 0">
    Registros Não Encontrados
  </div>
</div>
<div class="row mt-3">
  <div *ngFor="let caixa of caixasTO, let i = index">
    <div class="col mt-2">
      <mat-card class="lista-caixa-card" (dblclick)="!caixa.encerrado ? alterar(caixa) : visualizar(caixa)">
        <mat-card-content >
          <div class="row">
            <div class="col  text-center font-size-20" [ngClass]="{'text-red' : caixa.saldo < 0.0, 'text-green' : caixa.saldo >= 0.0}">
              <span class="font-size-12"><i class="pi pi-user-edit pi-money-bill"></i></span>
              {{caixa.saldo | currency:'BRL':true}}
            </div>
          </div>
          <div class="row mt-3" >
            <div class="col text-center">{{caixa.mes}} / {{caixa.ano}}</div>
            <div class="col text-center">{{caixa.situacao}}</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="text-center ml-n3">
            <a class="btn-edit" [ngClass]="{'ml-4' : !caixa.encerrado}"  (click)="visualizar(caixa)"   title="Visualziar">  
              <span class="p-input-icon-left">
                <i class="pi pi-eye"></i>
              </span> 
            </a>
              <a class="text-green ml-2"  *ngIf="!caixa.encerrado && !apenasMembresia" (click)="alterar(caixa)"  title="Editar">
                <span class="p-input-icon-left">
                  <i class="pi pi-user-edit"></i>
                </span>
              </a>
              <a class="ml-2"  (click)="getRelatorioCaixa(caixa.id)" title="Relatório">
                <span class="p-input-icon-left">
                  <i class="pi pi-file-pdf pi-pdf-color"></i>
                </span>
              </a>
          </div> 
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


