
.box-actions-right {
    width: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-actions-right .btn-edit i:before,
  .box-actions-right .btn-delete i:before {
    font-size: 16px;
  }
  
  .box-actions-right .btn-delete,
  .box-actions-right .btn-edit {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .box-actions-right .btn-edit i {
    color: green;
  }
  
  .box-actions-right .btn-delete i {
    color: red;
  }
  
  body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: white;
}

body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: none;
  transition: box-shadow 0.2s;
}
  