<div class="col mt-n4" >
  <form [formGroup]="formPesquisaCaixa" class="form-horizontal" >
			
    <div class="form-group row">
       <div class="col">
          <label  >Mês:</label>
          <p-dropdown class="w-100" [options]="meses" optionLabel="descricao"
                      formControlName="mes" [style]="{'width':'100%'}">
          </p-dropdown>
       </div>
       <div class="col">
         <label >Ano:</label>
         <input pInputText	class="form-control" type="number" id="ano" name="ano" formControlName="ano" >
       </div>
    </div>
    <div class="form-group last text-center " >
      <div class="col">
          <button pButton  (click)="limpar()"
                  icon="pi pi-trash" class="ui-button-secondary" 
                  label="Limpar"> 
           </button>
          
          <button  pButton type="button"	(click)="pesquisar()"
                  icon="pi pi-search-plus" class="ui-button-primary" 
                  label="Pesquisar">
          </button>
      </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col">
      <div class="text-left">
        <input pInputText type="text" class="w-100" placeholder="Pesquise" 
                (input)="dt.filterGlobal($event.target.value, 'contains')" />
      </div>
    </div>
    <div class="col">
      <div class="text-right" >
        <a class="text-right mr-4"  (click)="novoCaixa()" >
          <span>
            <i class="pi pi-plus-circle"></i>
            Novo Caixa
          </span>
        </a>	
    </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12" *ngIf="caixasTO.length == 0">
    Registros Não Encontrados
  </div>
</div>
<div class="row mt-3">
  <div class="col" >
      <p-scrollPanel [style]="{width: '100%', height: '560px'}">
        <p-table #dt [value]="caixasTO" dataKey="id"  styleClass="ui-table-pendencias" 
                [rows]="10" [globalFilterFields]="['mes','ano','situacao','saldo']">
        
            <ng-template pTemplate="body" let-caixa>
                <tr>
                  <td>
                    <mat-card class="mat-card-lista" >
                      <mat-card-content >
                        <div class="row">
  
                          <div class="col text-center">{{caixa.mes}}</div>
                          <div class="col text-center">{{caixa.ano}}</div>
                          <div class="col  text-center" [ngClass]="{'text-red' : caixa.saldo < 0.0, 'text-green' : caixa.saldo >= 0.0}">
                            {{caixa.saldo | currency:'BRL':true}}
                          </div>
                          <div class="col text-center">{{caixa.situacao}}</div>
                          
  
                          <div class="box-actions-right col-2">
                            <a class="col"  (click)="visualizar(caixa)"   title="Visualziar">  
                              <span class="p-input-icon-left">
                                <i class="pi pi-eye"></i>
                              </span> 
                            </a>
                              <a class="col btn-edit"  *ngIf="!caixa.encerrado" (click)="alterar(caixa)"  title="Editar">
                                <span class="p-input-icon-left">
                                  <i class="pi pi-user-edit"></i>
                                </span>
                              </a>
                              <a class="col"  (click)="getRelatorioCaixa(caixa.id)" title="Relatório">
                                <span class="p-input-icon-left">
                                  <i class="pi pi-file-pdf pi-pdf-color"></i>
                                </span>
                              </a>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </td>
                </tr>
  
            </ng-template>
          </p-table>    
        </p-scrollPanel>
  </div>

</div>


