#loading {     
    position: absolute;                 
    top: 50px;
    left: 180px;
    margin-left: 190px;
		margin-top: 80px;
    width: 50%;
    height: 50%;                          
    color: black;
    background-color: #D3D3D3;
    opacity: 0.5;
    font-size: 5em;     
    text-align: center;           
    z-index:1;
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: 50px 0 0 -65px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}