<div class="container">
<div class="row mt-3">
  <app-lista-caixa *ngIf="acaoSistema.isAcaoSistemaListar()" 
                   (enviarCaixaParaAlteracao)="receberCaixaParaAlteracao($event)"  
                   (enviarCaixaParaVisualizacao)="receberCaixaParaVisualizacao($event)"
                   (novoCaixaEmitter) = "novoCaixa()">
</app-lista-caixa>

	<div class="row mt-2" *ngIf="acaoSistema.isAcaoSistemaIncluir() || acaoSistema.isAcaoSistemaAlterar() || acaoSistema.isAcaoSistemaVisualizar()">
    <form #cadastro="ngForm" class="form-horizontal">
      
      <div class="row mt-n3">
        <div class="col-2">
          <button  *ngIf="acaoSistema.isAcaoSistemaIncluir() || acaoSistema.isAcaoSistemaAlterar() || acaoSistema.isAcaoSistemaVisualizar()" 
                  pButton (click)="voltar()" type="button" icon="pi pi-backward" label="Voltar" class="ui-button-secondary"> 
           </button>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-6 ml-n5">
              <span class="ui-float-label">
                <label  for="mes">Mês:</label>
                  <select class="form-control ml-5" name="mes" id="mes" [(ngModel)]="caixaBean.mes"
                          [disabled]="acaoSistema.isAcaoSistemaVisualizar() || acaoSistema.isAcaoSistemaAlterar()">
                      <option *ngFor="let mes of meses, let i = index" [ngValue]="mes">{{mes.descricao}}</option> 
                  </select>
              </span>
            </div>
            <div class="col-6 ml-5">
              <span class="ui-float-label">
                <label  for="complemento" >Ano</label>
                <input	class="form-control ml-5" type="text" id="ano" name="ano" [(ngModel)]="caixaBean.ano" 
                        [disabled]="true" >

              </span>
            </div>

          </div>
        </div>
        <div class="col">
          <div class="form-group text-right">
                <button   *ngIf="acaoSistema.isAcaoSistemaIncluir()" type="button"	pButton label="Salvar"
                          icon="pi pi-user-plus" class=" ui-button-success" (click)="salvar()" >
                </button>
                
                <button   *ngIf="acaoSistema.isAcaoSistemaAlterar()" pButton label="Salvar"
                            icon="pi pi-user-edit" class="ui-button-success"
                            type="button"	(click)="alterar()">
                </button>
                <button pButton *ngIf="acaoSistema.isAcaoSistemaAlterar()" class="text-left" label="Finalizar" icon="pi pi-save"  
                      class="ui-button-primary ml-2" (click)="finalizarCaixa()">
              </button>
          </div>  
        </div>
      </div>
      
      <div class="form-group row">
        <!-- <div class="col-6">
          <div class="text-left ml-n3">
            <input pInputText type="text" class="w-100" placeholder="Pesquise" 
                    (input)="dtMovimentacao.filterGlobal($event.target.value, 'contains')" />
          </div>
        </div> -->

      </div>
      <div class="row text-center">
        <mat-card class="col-3 card-header-result" >
          <mat-card-title>
            <label style="font-size: 12px">
              <i class="pi pi-shopping-cart"></i>
              Entradas
            </label>
          </mat-card-title>
          <mat-card-content >
            <label class="text-blue">
                {{caixaBean.entradas | currency:'BRL':true}}
            </label>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-3 card-header-result">
          <mat-card-title>
            <label style="font-size: 12px"><i class="pi pi-sign-out"></i>Saídas</label>
          </mat-card-title>
          <mat-card-content >
            <label [ngClass]="{'text-red' : caixaBean.saidas < 0.0, 'text-green' : caixaBean.saidas >= 0.0}">
              {{caixaBean.saidas | currency:'BRL':true}}
            </label>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-3 card-header-result">
          <mat-card-title>
            <label style="font-size: 12px"><i class="pi pi-chart-bar"></i>Anterior</label>
          </mat-card-title>
          <mat-card-content >
            <label [ngClass]="{'text-red' : caixaBean.saldoAnterior < 0.0, 'text-green' : caixaBean.saldoAnterior >= 0.0}">
              {{caixaBean.saldoAnterior | currency:'BRL':true}}
            </label>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-3 card-header-result">
          <mat-card-title>
            <label style="font-size: 12px"><i class="pi pi-money-bill"></i>Final</label>
          </mat-card-title>
          <mat-card-content >
            <span [ngClass]="{'text-red' : caixaBean.saldoFinal < 0.0, 'text-green' : caixaBean.saldoFinal >= 0.0}" >
              {{caixaBean.saldoFinal | currency:'BRL':true}}
            </span>
          </mat-card-content>
        </mat-card>  
      </div> 
       <div class="row mt-3">
        <div class="col" *ngIf="!acaoSistema.isAcaoSistemaVisualizar()">
          <div class="text-left" >
            <button  pButton type="button"	(click)="novaMovimentacaoFinanceira()"
                  icon="pi pi-plus-circle" class="ui-button-secondary" 
                  label="Nova Movimentação Caixa">
            </button>	 
        </div>
        </div>
       </div>
       <br/>
       <!-- <div class="row">
         <div class="form-group col-6">
            <p class="text-green text-center">Entradas</p>
             <p-table #dtMovimentacao [value]="caixaBean?.movimentacoes" dataKey="caixa.id"  styleClass="ui-table-pendencias" 
                     [rows]="10" [globalFilterFields]="['descricao','tipoOperacao.descricao','tipoMovimentacao.descricao', 'valor']">
             
                 <ng-template pTemplate="body" let-movimentacao let-i="rowIndex" >
                     <tr *ngIf="movimentacao?.tipoOperacao?.id === 1">
                       <td>
                         <mat-card  class="mat-card-lista">
                           <mat-card-content >
                             <div class="row">
       
                               <div class="col text-center ">{{caixaService.isOperacaoEntrada(movimentacao.tipoOperacao) ? movimentacao.tipoMovimentacao.descricao : '-'}}</div>
                               <div class="col text-center ">{{movimentacao.descricao}}</div>
                               <div class="col  text-center " 
                                    [ngClass]="{'text-red' : !caixaService.isOperacaoEntrada(movimentacao.tipoOperacao), 'text-green' : caixaService.isOperacaoEntrada(movimentacao.tipoOperacao)}">
                                    {{movimentacao.valor | currency:'BRL':true}}
                                </div>
                               
       
                               <div class="form-group last text-center col-3" *ngIf="!acaoSistema.isAcaoSistemaVisualizar()">
                                
 
                                <a class=" btn-edit "  (click)="alterarMovimentacao(movimentacao, i)"  title="Editar">
                                  <span class="text-green">
                                    <i class="pi pi-user-edit"></i>
                                  </span>
                                </a>
                                <a class=""  (click)="excluirMovimentacao(i)"  title="Excluir">  
                                  <span class="text-red">
                                    <i class="pi pi-trash"></i>
                                  </span> 
                                </a> 
                               </div>
                             </div>
                           </mat-card-content>
                         </mat-card>
                       </td>
                     </tr>
       
                 </ng-template>
               </p-table>    
         </div>


         <div class="form-group col-6">
          <p class="text-center text-red">Saídas</p>
          <p-table #dtMovimentacaoSaida [value]="caixaBean?.movimentacoes" dataKey="caixa.id"  styleClass="ui-table-pendencias" 
                  [rows]="10" [globalFilterFields]="['descricao','tipoOperacao.descricao','tipoMovimentacao.descricao', 'valor']">
          
              <ng-template pTemplate="body" let-movimentacao let-i="rowIndex" >
                  <tr *ngIf="movimentacao?.tipoOperacao?.id === 2">
                    <td >
                      <mat-card  class="mat-card-lista">
                        <mat-card-content >
                          <div class="row">
                            <div *ngIf="caixaService.isOperacaoEntrada(movimentacao.tipoOperacao)" class="col text-center">{{movimentacao.tipoMovimentacao.descricao}}</div>
                            <div class="col text-center">{{movimentacao.descricao}}</div>
                            <div class="col  text-center " 
                                 [ngClass]="{'text-red' : !caixaService.isOperacaoEntrada(movimentacao.tipoOperacao), 'text-green' : caixaService.isOperacaoEntrada(movimentacao.tipoOperacao)}">
                                 {{movimentacao.valor | currency:'BRL':true}}
                             </div>
                            
    
                            <div class="form-group last text-center col-3" *ngIf="!acaoSistema.isAcaoSistemaVisualizar()">
                            
                              
                              <input *ngIf="!movimentacao?.arquivo"   type="file" id="upload" (change)="handleFileInput($event.target.files, movimentacao)" hidden/>
                              <label *ngIf="!movimentacao?.arquivo" title="Upload Comprovante" for="upload"><i class="pi pi-upload"></i></label>  
                              <label *ngIf="movimentacao.arquivo" title="Comprovante"><i class="pi pi-download"></i></label>  

                              
                             <a class="btn-edit ml-2"  (click)="alterarMovimentacao(movimentacao, i)"  title="Editar">
                               <span class="text-green">
                                 <i class="pi pi-user-edit"></i>
                               </span>
                             </a>
                             <a   (click)="excluirMovimentacao(i)" class="ml-2"  title="Excluir">  
                               <span class="text-red">
                                 <i class="pi pi-trash"></i>
                               </span> 
                             </a> 
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </td>
                  </tr>
    
              </ng-template>
            </p-table>    
      </div> -->
       <!-- </div> -->

       <div class="row ">
        <div class="form-group col-6">
          <app-movimentacoes-por-tipo  [movimentacoes]="caixaBean?.movimentacoes"
                                        [tipoOperacao]="1"
                                        [acaoSistema]="acaoSistema"
                                        (notificarPoupModificacaoFinanceira)="abrirPopupMovimentacaoFinanceira($event)">
          </app-movimentacoes-por-tipo>
        </div>

        <div class="form-group col-6">
          <app-movimentacoes-por-tipo  [movimentacoes]="caixaBean?.movimentacoes"
                                       [tipoOperacao]="2"
                                       [acaoSistema]="acaoSistema"
                                       (notificarPoupModificacaoFinanceira)="abrirPopupMovimentacaoFinanceira($event)">
          </app-movimentacoes-por-tipo>
        </div>
       </div>
		</form>	
	</div>
</div>	
</div>