<div class="row">
    <div class="col">
        <div class="text-right required  text-red">Campos Obrigatórios</div>  
        <div class="modal-body">
            <form [formGroup]="formAlteracarSenha" class="form-horizontal" (keyup.enter)="salvar()">
                <div class="form-group">
                    <label	for="nome" class="required">Nova Senha</label>
                    <input class="form-control" type="password" id="novaSenha" maxlength="100"
                            name="novaSenha" formControlName="novaSenha"  appAutoFocus >
                </div>
                <div class="form-group">
                    <label	for="confirmacaoSenha" class="required">Confirmação de Senha</label>
                    <input	pInputText  class="form-control" type="password" id="confirmacaoSenha" maxlength="100"
                            name="confirmacaoSenha" formControlName="confirmacaoSenha">
                </div>
                <div class="form-group last" >
                    <div class="col text-center">
                      <button  type="button"	pButton label="Salvar"
                               icon="pi pi-user-plus" class="ui-button-success" 
                               (click)="salvar()" >
                      </button>
                    </div>
                  </div>
            </form>
        </div>
    </div>    
</div>