input[type="file"] {
    display: none;
}

.input-file {
    border: solid 1px;
    width: 100%;
    margin-left: 1px;
    height: 34px;
    margin-top: 3px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}