<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="text-left ml-n3">
            <input pInputText type="text" class="w-100" placeholder="Pesquise" 
                    (input)="dtUsuarios.filterGlobal($event.target.value, 'contains')" />
            </div>
        </div>
        <div class="col-6">
            <div class="text-right" >
                <button  pButton type="button"	(click)="novoUsuario()"
                          icon="pi pi-plus-circle" class="ui-button-secondary" 
                          label="Novo Usuario">
                    </button>
              </div>
        </div>
    </div>
    <div class="row mt-3">
        <p-table #dtUsuarios [value]="usuarios" dataKey="usuario.id"  
                [rows]="5" [globalFilterFields]="['nome','email']">
        
            <ng-template pTemplate="body" let-usuario let-i="rowIndex" >
                <tr>
                <td>
                <mat-card class="mat-card-lista">
                    <mat-card-content >
                        <div class="row">
                        <div class="col text-center">{{usuario.nome.length > 30 ? usuario.nome.substring(0, 30) + '...' : usuario.nome}}</div>
                        <div class="col text-center " >{{usuario.email}}</div>
                        <div class="form-group last text-center col-3">
                        
                        <a class=" btn-edit"    title="Editar">
                            <span class="text-green">
                            <i class="pi pi-user-edit"></i>
                            </span>
                        </a>
                        <a class="ml-2"  title="Excluir">  
                            <span class="text-red">
                            <i class="pi pi-trash"></i>
                            </span> 
                        </a>
                        </div>
                        </div>
                    </mat-card-content>
                    </mat-card>
                </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>