::ng-deep body .ui-menubar {
    padding: 0;
    background-color: #007bff!important;
}

::ng-deep .ui-menuitem-text {
    color: white !important;
}

::ng-deep .ui-menuitem-icon {
    color: white !important;
}

.blue-degrade {
    background-image: linear-gradient(to bottom, #40E0D0,#007AD8);
}