<!-- *ngIf="loginService.isAutenticado()" -->
<div   class="top-fixed w-100" > 
    <p-menubar  [model]="rigthMenu" sytleClass="navbar-dark bg-primary">
        <!-- <div>
            <p-splitButton icon="pi pi-bars" [model]="leftMenu" ></p-splitButton>
        </div> -->
    </p-menubar>
</div>
<!-- [ngClass]="{'navbar-dark blue-degrade' : !loginService.isAutenticado()}" -->
<div class="content" >
    <div class="content-inside"> 
            <div class="container">
    <router-outlet></router-outlet>
    <app-loader></app-loader>
    </div>	
    </div>
</div>