<div class="col-lg-12" >
	<table class="table table-responsive table-hover text-center"> 
    <thead >
      <tr>
        <th i18n="@@LABEL_MES" style="width: 300px;">LABEL_MES</th>
        <th i18n="@@LABEL_ANO" style="width: 300px;">LABEL_ANO</th>
        <th i18n="@@LABEL_SALDO" style="width: 300px;">LABEL_SALDO</th>
        <th i18n="@@LABEL_SITUACAO" style="width: 300px;">LABEL_SITUACAO</th>
        <th i18n="@@LABEL_ACOES" style="width: 300px;">LABEL_ACOES</th>
      </tr>
    </thead>        
     <tbody > 
      <tr *ngFor="let caixa of caixasTO">
        <td class="text-center" style="width: 200px;"> {{caixa.mes.descricao}}</td>
        <td class="text-center" style="width: 200px;"> {{caixa.ano}}</td>
        <td class="text-center {{caixaService.getClasseSaldos(caixa.saldo)}}" style="width: 200px;"> {{caixa.saldo | currency:'BRL':true}}</td>
        <td class="text-center" style="width: 200px;"> {{caixa.situacao}}</td>
        <td class="text-center espaco" style="width: 200px;">
        <a  (click)="visualizar(caixa)"  i18n-title="@@LABEL_VISUALIZAR"  title="LABEL_VISUALIZAR">  
              <fa class="fa-lg" name="visualizar" animation="eye" > </fa>
          </a>
          <a *ngIf="!caixa.encerrado" (click)="alterar(caixa)" i18n-title="@@LABEL_ALTERAR" title="LABEL_ALTERAR">
              <fa class="fa-lg" name="alterar" animation="edit" ></fa>
          </a>
          <a  (click)="getRelatorioCaixa(caixa.id)" i18n-title="@@LABEL_RELATORIO_CAIXA" title="LABEL_RELATORIO_CAIXA">
            <fa class="fa-lg" name="pdf" animation="file-pdf-o" ></fa>
          </a>
        </td> 
      </tr>
     </tbody> 
</table>	
</div>
<div class="col-lg-12" *ngIf="caixasTO.length == 0" i18n="@@LABEL_REGISTROS_NAO_ENCONTRADOS">
	LABEL_REGISTROS_NAO_ENCONTRADOS
</div>

